<div class="container">
    <div class="jumbotron">
      <h1>My Quotes</h1>
      </div>


        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        <div *ngFor='let quote of quotes;let i = index'>
            
      
         
          
      <h4> <p id="{{i}}" appHighlight>{{quote.description}}</p>
      </h4>
      
      <button class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details' </button> 
              
        
      <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>

      
    
    </div>
    
  </div>

      
  
    
  

   