.center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 10px;
  }

h1{
  color: blue;
  font-style: oblique;
  font-size: 120px;
  text-align: center;
}
.jumbotron{
  background-color: yellowgreen;
}